#wp-swiper-slider.swiper {

    width: 600px;
    height: 300px;

}

#wp-swiper-slider.swiper .swiper-slide img{

    width: 100%;

}

/* Responsive Slider CSS */
@media (max-width:768px) {

    #wp-swiper-slider.swiper {

        width: 100%;
        height: auto;
        
    }

}